numpy
pandas
sentence_transformers
tqdm
pyarrow
google-cloud-storage
gcsfs
scikit-learn
html2text
feedparser
functions-framework==3.*
flask
gunicorn
black
pylint
mypy
isort
pandas-stubs 
types-google-cloud-ndb
types-tqdm