numpy==1.25.1
pandas==2.0.3
sentence_transformers==2.2.2
tqdm
pyarrow
google-cloud-storage
gcsfs
scikit-learn
html2text
feedparser
functions-framework==3.*
flask
gunicorn
black
pylint
mypy
isort
pandas-stubs 
types-google-cloud-ndb
types-tqdm
pytest